<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LSHOW" value="YES" />
    <add key="IP" value="" />
    <add key="ISMSG" value="" />
    <add key="MSGTITLE" value="" />
    <add key="MSGBODY" value="" />
    <add key="INSTALL" value="" />
    <add key="ANTI" value="" />
    <add key="NOIPSAVE" value="YES" />
     <add key="NOTIFY" value="YES" />
    <add key="NOIPUSERNAME" value="" />
    <add key="NOIPPASSWORD" value="" />
    <add key="NOIPHOST" value="" />
    <add key="FIRSTTIME" value="YES" />
    <add key="PORT1" value="8254" />
    <add key="PORT2" value="3460" />
  <add key="COLOR1" value="Color.Black" />
  <add key="COLOR2" value="192, 0, 0" />
    <add key="TITLE" value="Windows Application" />
    <add key="DESCRIPTION" value="Unspecified" />
    <add key="PRODUCT" value="Unspecified" />
    <add key="COMPANY" value="Unspecified" />
    <add key="TRADEMARK" value="Unspecified" />
    <add key="COPYRIGHT" value="(c) 2010" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>